<link rel="stylesheet" href="styles/main.css">
/* Remove bullets and style nav */
nav ul {
    list-style-type: none;
    background-color: lightgray;
    padding: 10px;
}

/* Links inside nav */
nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
}

nav ul li a:hover {
    color: red;
}
table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.bordered-image {
    border: 3px solid black;
    padding: 5px;
}
